.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon


# Database
*.sqlite


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results


### NPM ###
npm-debug.log
node_modules



# Floobits
.floo
.floobit
.floo
.flooignore
